extends layout

block content

  header.main-header
    h1 Circuit Interactives POC
    span#bulb-response
    span#user-count

  div.main-content
    ul.tabs
      li
        span Intro
      li.toggle
        span Create
      li
        span Code

    form
      label(for='current') What is the current (I = V / R)?
        input(type='text' name='current')

      label(for='volatage') What is the voltage (V = I * R )?
        input(type='text' name='voltage')

      label(for='resistance') What is the resistance (R = V / I)?
        input(type='text' name='resistance')

      button(type='submit') Submit

    iframe(class="hide" allowTransparency="true" frameborder="0")

  div.chat
    header Chat
    div.display
      ul.messages
    input.msg(type="text")
    button send