extends layout

block content

  header.main-header
    h1 Circuit Interactives POC
    span#bulb-response
    span#user-count


  nav
    ul.tabs
      li.intro.active Intro
      li.toggle.create Create
      li.code Code

  div.main-content
    section.tab-content.intro
      form
        label(for='current') What is the current (I = V / R)?
          input(type='text' name='current')

        label(for='volatage') What is the voltage (V = I * R )?
          input(type='text' name='voltage')

        label(for='resistance') What is the resistance (R = V / I)?
          input(type='text' name='resistance')

        button(type='submit') Submit Answers

      div#interactive

    section.tab-content.create.parked
        h3.circuit-result Please complete the circuit on your own board
        image(src='/images/circuit-stuff/create-circuit.png' alt='schematic of circuit')

    section.tab-content.code.parked
      div
        iframe(src='https://codebender.cc/embed/sketch:131324' allowTransparency="true" frameborder="0")

  div.chat
    header Chat
    div.display
      ul.messages
    input.msg(type="text")
    button send