doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type='text/javascript' src='//cdn.jsdelivr.net/phaser/2.4.3/phaser.js')
  body
    block content

    script(type='text/javascript' src='javascripts/dist/main.js')
