doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='//cdn.jsdelivr.net/phaser/2.3.0/phaser.js')
  body
    block content

    script(type='text/javascript' src='javascripts/components/wire.js')
    script(type='text/javascript' src='javascripts/components/circuit.js')
    script(type='text/javascript' src='javascripts/components/electron.js')
    script(type='text/javascript' src='javascripts/components/battery.js')
    script(type='text/javascript' src='javascripts/components/resistor.js')
    script(type='text/javascript' src='javascripts/components/bulb.js')
    script(type='text/javascript' src='javascripts/components/text.js')
    script(type='text/javascript' src='javascripts/components/ohms.js')
    script(type='text/javascript' src='javascripts/ui/form.js')
    script(type='text/javascript' src='javascripts/sio.js')
    script(type='text/javascript' src='javascripts/socket/socket.js')
