body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #c7e9eb;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
h1,
h2 {
  width: 800px;
  margin: 0 auto 15px;
}
form {
  width: 800px;
  margin: 0 auto;
}
button {
  background-color: #ffbe0a;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  right: 0;
}
canvas {
  border: 1px solid #666;
  margin: 0 auto;
}
label,
input,
button {
  display: block;
}
label {
  width: 32%;
  display: inline-block;
}
label:last-of-type {
  width: 34%;
}
input,
button {
  margin: 0 0 15px;
  padding: 10px;
}
.correct {
  border: 2px solid #00cd00;
}
.error {
  border: 2px solid #f03;
}
a {
  color: #00b7ff;
}
.hide {
  display: none !important;
}
iframe {
  height: 510px;
  width: 100%;
  margin: 10px 0 10px;
}
