div,
header,
nav,
menu,
form,
input,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
iframe,
label,
fieldset {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #c7e9eb;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
#bulb-response:before {
  content: "Status: ";
}
#user-count:before {
  content: "User Count: ";
}
.main-header {
  *zoom: 1;
  background: #333;
  color: #ddd;
  padding: 0 2rem;
}
.main-header:before,
.main-header:after {
  content: '';
  display: table;
}
.main-header:after {
  clear: both;
}
.main-header h1 {
  margin: 0;
  padding: 0;
}
.main-header span {
  float: right;
  padding: 0 1rem;
}
.main-content {
  *zoom: 1;
  width: auto;
  max-width: 840px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.main-content:before,
.main-content:after {
  content: '';
  display: table;
}
.main-content:after {
  clear: both;
}
button,
canvas {
  border: 1px solid #333;
}
button {
  background: #d6d6d6;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #ccc;
}
button[type="submit"] {
  clear: both;
  width: 100%;
}
canvas {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  border-color: #666;
}
canvas:before,
canvas:after {
  content: '';
  display: table;
}
canvas:after {
  clear: both;
}
label,
button {
  display: block;
}
label {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.999999999999996%;
  margin-left: 0%;
  margin-right: 2%;
}
label:before,
label:after {
  content: '';
  display: table;
}
label:after {
  clear: both;
}
label:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
label:nth-child(3n+1) {
  clear: both;
}
input {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  font-size: 1.2rem;
  padding: 0.3rem;
}
input:before,
input:after {
  content: '';
  display: table;
}
input:after {
  clear: both;
}
input,
button {
  margin-bottom: 15px;
}
button {
  padding: 10px;
}
.correct,
.error {
  border: 2px solid #00cd00;
}
.error {
  border-color: #f03;
}
a {
  color: #00b7ff;
}
.hide {
  display: none !important;
}
iframe {
  height: 32rem;
  width: 52.5rem;
}
.tabs {
  *zoom: 1;
  background: #999;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tabs:before,
.tabs:after {
  content: '';
  display: table;
}
.tabs:after {
  clear: both;
}
.tabs li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
}
.tabs li:before,
.tabs li:after {
  content: '';
  display: table;
}
.tabs li:after {
  clear: both;
}
.tabs li:last-child {
  margin-right: 0%;
}
.tabs li:last-of-type {
  *zoom: 1;
}
.tabs li:last-of-type:before,
.tabs li:last-of-type:after {
  content: '';
  display: table;
}
.tabs li:last-of-type:after {
  clear: both;
}
.tabs li.active,
.tabs li:hover {
  background: #666;
  color: #c7c7c7;
}
.tab-content {
  *zoom: 1;
  width: auto;
  max-width: 840px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  background: #b8b8b8;
  border: 0.2rem solid #333;
  margin-top: 2rem;
  margin-left: 0;
  padding: 1rem 2rem;
  position: absolute;
  transition: margin-left 1s;
}
.tab-content:before,
.tab-content:after {
  content: '';
  display: table;
}
.tab-content:after {
  clear: both;
}
.tab-content.create {
  margin-left: 4.5rem;
}
.tab-content.code {
  margin-left: -1rem;
}
.tab-content.parked {
  margin-left: -200rem;
}
.chat {
  bottom: -400px;
  position: fixed;
  transition: bottom 0.5s;
  width: 200px;
}
.chat.active {
  bottom: 0;
}
.chat header {
  background: #666;
  color: #eee;
  cursor: pointer;
  padding: 4px;
}
.chat .display {
  background: #c7e9eb;
  height: 300px;
  border: 1px solid #000;
  overflow-y: auto;
}
.chat .display .messages {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.chat .display .messages li {
  padding: 4px 2px;
}
.chat .display .messages li:nth-child(2n+1) {
  background-color: #d8f0f1;
}
.chat input {
  margin-bottom: 5px;
}
.chat button {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
.chat button:before,
.chat button:after {
  content: '';
  display: table;
}
.chat button:after {
  clear: both;
}
