@import 'jeet'
@import 'rupture'

fullWidth = 800px
primaryColor = #c7e9eb


div, header, nav, menu,
form, input, button, h1,
h2, h3, h4, h5, h6, p,
ul, ol, li, iframe, label,
fieldset
  box-sizing: border-box

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: primaryColor
  font-family: Arial, sans-serif
  font-size: 16px

h1,
h2,
form
  center(fullWidth)

button,
canvas
  border: 1px solid #333

button
  background-color: #FFBE0A
  border-radius: 5px
  cursor: pointer
  right: 0

.toggle
  center(fullWidth)
  width: fullWidth

canvas
  center(100%)
  border-color: #666

label, button
  display: block

label
  col(1/3, gutter: 2, cycle: 3)

input
  span(1)
  padding: 10px 0

input,
button
  margin-bottom: 15px

button
  padding: 10px

.correct,
.error {
  border: 2px solid #00cd00
}

.error
  border-color: #ff0033

a
  color: #00B7FF

.hide
  display: none !important

iframe
  span(1)
  height: 510px

.chat
  position: absolute
  width: 200px

  .display
    height: 300px
    border: 1px solid #000
    overflow-y: auto

    .messages
      padding: 0
      margin: 0
      list-style-type: none

      li:nth-child(2n+1)
        background-color: lighten(primaryColor, 15%)

  input
    margin-bottom: 5px

  button
    span()